.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #f5f5f5;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
  margin-bottom: 50px;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #0a0101;
  font-weight: bold;
  font-size: 22px;
}

/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 2px solid #0a0101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
  margin-right: 20px;
}

.item-price-sub-text {
  font-size: 12px;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.item-payment {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #0a0101;
  font-weight: bold;
}

.item-payment-title {
  font-size: 20px;
}

.item-payment-price {
  font-size: 25px;
}

/* /支払額の表示 */

/* カード情報の入力 */
.form-group {
  margin-left: 185px;
  margin-top: 30px;
  font-weight: bold;
}

.input-default {
  width: 350px;
  height: 48px;
  border-radius: 4px;
  margin: 3px 0px 5px 0px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 45px;
  border: 1px solid #ccc;
}

.select-box-buy {
  width: 350px;
  height: 35px;
  margin: 3px 0px 30px 0px;
}

.available-card {
  align-items: center;
}

.credit-card-form {
  border-bottom: 2px solid #0a0101;
  margin-top: 15px;
  padding-bottom: 30px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.available-card {
  display: flex;
  height: 35px;
  margin-top: 10px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
}

.input-expiration-date {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  line-height: 45px;
  padding-left: 10px;
}

/* /カード情報の入力 */

/* 配送先の入力 */
.shipping-address-form {
  margin-top: 15px;
}

.form-any {
  background: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.sell-btn-buy {
  display: inline-block;
  padding: 8px 20px 8px 25px;
  font-size: 1.5em;
  color: rgb(250, 245, 245);
  background: #f10707;
  border: 1px #edf0f2 solid;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
  height: 60px;
  width: 350px; 
  transition: all 0.2s;
  position: relative;
  top: 20px;
  left: 22px;
}
  
.sell-btn:hover {
  font-size: 1.6em;
  opacity: 0.5;
  background: black;
  color: white;
  border-radius: 10px;
}

.back-btn-buy {
  display: inline-block;
  padding: 9px 20px 8px 25px;
  font-size: 1.5em;
  color: rgb(250, 245, 245);
  background: #9b9696;
  border: 1px #edf0f2 solid;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
  height: 60px;
  width: 350px; 
  transition: all 0.2s;
  text-align: center;
  position: relative;
  top: 40px;
  left: 22px;
}

.sell-btn-buy:hover {
  font-size: 1.6em;
  opacity: 0.5;
  background: black;
  color: white;
  border-radius: 10px;
}

.back-btn-buy:hover {
  font-size: 1.6em;
  opacity: 0.5;
  background: black;
  color: white;
  border-radius: 10px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
