<div class="tweet_main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規投稿</h2>
            <p class="rules">お探しの商品を投稿しましょう。</br>
            アーティスト名・商品の詳細・商品の画像を、下記フォームに入力して下さい。</p></br>
        <%= render partial: "form", locals: { tweet: @tweet } %>
    </div>
  </div>
</div>