<div class="tweet_main">
  <div class="inner">
    <div class="form__wrapper">
      <div class="balloonoya"><h2 class="page-heading">New Tweet</h2>
            <span class="balloon">
              お探しの商品を投稿しましょう。</br>
              アーティスト名・商品の詳細・商品の画像を、下記フォームに入力して下さい。</p></br>
            </span>
      </div>
        <%= render partial: "form", locals: { tweet: @tweet } %>
    </div>
  </div>
</div>