/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background: linear-gradient(#5ac8ce,#f5f5f5);
  padding: 0px 10px 10px 10px;
}

.logo_title {
  font-size: 40px;
  height: 30px;
  width: 260px;
  margin: 0px 0px 0px 20px;
  display: flex;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #909ea2;
  text-decoration: none;
  user-select: none;
  border: 1px #909ea2 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #909ea2;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.middle {
  position: relative;
  width: 100%;
  height: 300px;
}

.music-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
}

.music_inner {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(100% - 250px);
  width: 100%;
  height: 100%;
  padding: 0 60px;
  font-size: 30px;
  margin-left: 140px;
  color: rgb(50, 47, 47);
  text-shadow:0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff;
}

.second_message {
  font-size: 18px;
  text-shadow: none;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  margin-left: 33px;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(250, 245, 245);
  text-decoration: none;
  user-select: none;
  background: #5c747d;
  border: 1px #edf0f2 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form__btn__buy {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.5em;
  text-align: center;
  color: rgb(250, 245, 245);
  background: #f10707;
  border: 1px #edf0f2 solid;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
  width: 100%; 
}

/* メイン */
.music_main {
  background-color: #6c4040;
}

.tweet_main {
  background-color: #f5f5f5;
}
.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.second_middle {
  width: 100%;

}
.tweet__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tweet {
  border: 2px solid #968f8f;
  border-radius: 10px;
  width: calc((100% - 100px) / 4);
  margin-top: 20px;
  margin-left: 14px;  
  background-color: #f5eded;
  height: 466px;
}

.tweet__user {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(175, 38, 38);
  text-align: center;
  text-decoration: underline;
}

.tweet__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.tweet__artist {
  color:rgb(44, 20, 34);
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(16, 7, 7);
  text-decoration: underline;
}
.tweet__text {
  font-size: 16px;
  height: 130px;
  text-align: center;
}

.tweet__img {
  margin-bottom: 10px;
  padding-left: 85px;
}

/* 詳細ページ */
.show_inner {
  display: flex;
  height: 100vh;
}

.tweet__show{
  width: 800px;
  margin-top: 17px;
}
.tweet__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.show__user{
  display: block;
  font-size: 20px;
  color: rgb(175, 38, 38);
  text-align: center;
  text-decoration: underline;
}
.tweet__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.tweet__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.tweet__title{
  font-size: 20px;
  font-weight: bold;
}

.detail__text {
  padding: 0px 50px 0px 50px;
  text-align: center;
  margin-top: 10px;
}

.tweet__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.tweet__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.tweet__btn:hover{
  color: #fff;
  background: #999;
}

.tweet__comments{
  width: calc(100% - 50%);
  padding: 20px;
  overflow-y: scroll;
  background: #f5f5f5;
  padding: 1em;
  border: 8px solid #a60;
  box-shadow: 2px 2px 4px #999, 2px 2px 2px #020 inset;
}

.comment_field {
  text-align: center;
}

.rules {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:smaller;
  color: #909ea2;
}

.rules_comment {
  font-size:larger;
}

input[type="comment"] {
  width: 300px;
  height: 40px;
}
.commentnav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #050505;
  text-decoration: none;
  user-select: none;
  border: 1px #050505 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 10px 0px 0px 267px;
}
.commentnav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.sellnav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #050505 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  position:absolute;
  top: 100vh;
  right: 282px;
  background-color: #f50a0a;
}
.sellnav__btn:hover{
  color: #050505;
  background: #d12d38;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding: 10px 0px 5px 20px;
  font-size: 1.0em;
}

.comment_user{
  color: rgb(126, 18, 18);
  text-decoration: underline;
}

.comment_com {
  font-size: 0.9em;
  color: rgb(40, 78, 153);
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}