/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background: linear-gradient(#5ac8ce,#f5f5f5);
  padding: 0px 10px 10px 10px;
}

.logo_title {
  font-size: 60px;
  height: 30px;
  width: 260px;
  display: flex;
  position: relative;
  top: 15px;
  left: 35px;
}

.logo_title:hover {
  opacity: 0.8;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.nav__btn{
  width: 150px;
  text-align: center;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #909ea2;
  text-decoration: none;
  user-select: none;
  border: 1px #909ea2 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  position: relative;
  top: 10px;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__btn__user {
  width: 150px;
  text-align: center;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #909ea2;
  text-decoration: none;
  user-select: none;
  border: 1px #909ea2 solid;
  border-radius: 3px;
  position: relative;
  top: 47px;
  right: 10px;
  position: fixed;
}

.nav__btn__user:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  width: 150px;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #909ea2;
  text-decoration: none;
  user-select: none;
  position: relative;
  top: 11px;
  right: 130px;
}
.nav__logout:hover{
  opacity: 0.5;
}

.middle {
  position: relative;
  top: 30px;
  width: 100%;
  height: 300px;
  
}

.music-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 90%;
}

.music_inner {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(100% - 250px);
  width: 100%;
  height: 100%;
  padding: 0 60px;
  font-size: 30px;
  margin-left: 140px;
  
}

.message {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.second_message {
  color:rgb(6, 6, 6);
  position: absolute;
  bottom: 96px;
  font-size: 15px;
  text-shadow: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 2px 2px 1px #dacfd3;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  margin-left: 50px;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(250, 245, 245);
  text-decoration: none;
  user-select: none;
  background: #5c747d;
  border: 1px #edf0f2 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form__btn__buy {
  display: inline-block;
  padding: 8px 12px 4px 15px;
  font-size: 0.7em;
  text-align: center;
  color: rgb(250, 245, 245);
  background: #f10707;
  border: 1px #edf0f2 solid;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
  width: 55px; 
  height: 55px;
  border-radius: 100px 100px 100px 100px;
  transition: all 0.2s;
  position: relative;
  bottom: 180px;
  left: 6px;
}

.form__btn__buy:hover {
  font-size: 0.7em;
  opacity: 0.5;
  background: black;
  color: white;
  border-radius: 10px;
}

.form__btn__edit {
  display: inline-block;
  padding: 10px 15px 4px 15px;
  font-size: 0.7em;
  text-align: center;
  color: rgb(250, 245, 245);
  background: #356ebe;
  border: 1px #edf0f2 solid;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
  width: 55px; 
  height: 55px;
  border-radius: 100px 100px 100px 100px;
  transition: all 0.2s;
  position: relative;
  bottom: 180px;
  left: 6px;
}

.form__btn__edit:hover {
  font-size: 0.7em;
  opacity: 0.5;
  background: black;
  color: white;
  border-radius: 10px;
}

.form__btn__tweet {
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  color: rgb(250, 245, 245);
  background: #bbb2a0;
  border: 3px #edf0f2 solid;
  border-radius: 10px;
  box-shadow: 7px 10px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
  width: 170px;
  height: 170px;
  transition: all 0.2s;
  position: relative;
  top: 17px;
  right: 410px;
  opacity: 0.9;
}

.form__btn__tweet:hover {
  font-size: 1.6em;
  opacity: 0.5;
  background: black;
  color: white;
  border-radius: 10px;
}

.form__btn__click  {
  display: inline-block;
  background: #f3f1ef;
  color: #f50909;
  height: 0px;
  position: relative;
  right: 70px;
}

.form__btn__comment {
  position: relative;
  bottom: 220px;
  left: 20px;
  color: #0b0b0b;
  font-size: 20px;;
}
.form__btn__comment:hover {
transform: translate(5px, 3px);
}

/* メイン */
.music_main {
  background-color: #f5f5f5;;
}

.tweet_main {
  background-color: #f5f5f5;
}
.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.second_middle {
  width: 100%;

}
.tweet__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tweet {
  border: 1px solid #968f8f;
  border-radius: 10px;
  width: calc((100% - 100px) / 4);
  margin-top: 20px;
  margin-left: 14px;  
  background-color: #f5f5f5;
  height: 300px;
  box-shadow: 1px 1px 3px;
}

.tweet__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  opacity: 90%;
  border-radius: 10px 10px 0px 0px;
}

.tweet__img:hover {
  transition: all 0.2s;
  opacity: 60%;
}

.tweet__user {
  display: block;
  font-size: 20px;
  color: rgb(250, 246, 246);
  text-shadow: 2px 3px 5px #0a0909;
  text-decoration: none;
  padding-left: 8px;
  position: relative;
  bottom: 279px;
  border-radius: 9px 9px 0px 0px;
  background:linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%,rgba(0, 0, 0, 0.822) 100%);
}

.balloonoya {
  position   : relative;
}

.balloonoya:hover .balloon {
  display: inline;
}

.balloon {
  position: absolute;
  display: none;
  padding: 10px 8px 8px 30px;;
  background-color: rgba(230, 230, 239, 0.7);
  width: 250px;
  font-size: 80%;
  border-radius: 0px 50px 0px 50px;
}

.openingya {
  position: relative;
}

.openingya:hover .balloon {
  display: inline;
}

.opening {
  position: absolute;
  display: none;
  padding: 10px 8px 8px 30px;;
  background-color: rgba(230, 230, 239, 0.7);
  width: 250px;
  font-size: 80%;
  border-radius: 0px 50px 0px 50px;
}

.tweettitle {
  position: relative;
  bottom: 48px;
}

.tweet__logo {
  position: relative;
  left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.tweet__artist {
  position: relative;
  bottom: 31px;
  color:rgb(44, 20, 34);
  display: block;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(16, 7, 7);
  text-decoration: underline;
}

.tweet__artist:hover {
  transition: all 0.2s;
  opacity: 60%;

}
.tweet__text {
  position: relative;
  bottom: 45px;
  font-size: 14px;
  height: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:left;
  padding: 0px 5px 0px 5px;
}

/* 詳細ページ */
.show_inner {
  display: flex;
  height: 100vh;
}

.tweet__show{
  width: 800px;
  margin-top: 17px;
}
.tweet__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.show__user{
  display: block;
  font-size: 23px;
  color: rgb(44, 20, 34);
  text-shadow: 1px 1px 1px #bbb6b6;
  text-decoration: none;
  text-align: center;
}
.tweet__image__show{
  width: 400px;
  margin: 0px 0px 0px 180px;
  padding: 20px 0px 0px 45px;
}
.tweet__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.tweet__title{
  font-size: 20px;
  font-weight: bold;
}

.detail__text {
  padding: 0px 50px 0px 50px;
  text-align: center;
  margin-top: 10px;
}

.tweet__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.tweet__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.tweet__btn:hover{
  color: #fff;
  background: #999;
}

.tweet__comments{
  width: calc(100% - 50%);
  overflow-y: scroll;
  background: #f5f5f5;
  position: relative;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
}

.tweet__comments .box-title {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 42%;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #f5f5f5;
  color: #95ccff;
  font-weight: bold;
}

.tweet__comments p {
  margin: 0; 
  padding: 0;
}

.comment_field {
  text-align: center;
  margin-top: 25px;
}

.rules {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:smaller;
  color: #909ea2;
}

.rules_comment {
  font-size:larger;
}

input[type="comment"] {
  width: 300px;
  height: 40px;
}
.commentnav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #050505;
  text-decoration: none;
  user-select: none;
  border: 1px #050505 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 10px 0px 0px 267px;
}
.commentnav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.sellnav__btn{
  display: inline-block;
  padding: 8px 10px 8px 3px;
  text-align: center;
  font-size: 0.8em;
  color: rgb(250, 245, 245);
  background: #f10707;
  border: 1px #edf0f2 solid;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(160, 10, 132, 0.12);
  transition: 0.2s ease;
  height: 40px;
  width: 150px; 
  transition: all 0.2s;
  position:absolute;
  top: 580px;
  right: 260px;
  position:fixed;
  background-color: #f50a0a;
}
.sellnav__btn:hover{
  color: #050505;
  background: #d12d38;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding: 10px 0px 5px 20px;
  font-size: 1.0em;
}

.comment_user{
  color: rgb(126, 18, 18);
  text-decoration: underline;
}

.comment_com {
  font-size: 0.9em;
  color: rgb(40, 78, 153);
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}